---
import GenericPage from "../../layouts/GenericPage.astro";
import BlogList from "../../components/blog/BlogList.svelte";
---

<GenericPage title="the melonscript" description="What is bro yapping about?">
  <main>
    <BlogList client:only="svelte"/>
  </main>
</GenericPage>
