---
import GenericPage from "../layouts/GenericPage.astro";
---

<GenericPage title="404" description="Oops! Nothing can be found here!">
  <main class="text-center">
    <h1
      id="text-404"
      class="inline-block text-transparent bg-clip-text bg-gradient-to-r from-picton-blue via-cranberry to-tulip-tree"
    >
      <b>404</b>
    </h1>

    <style>
      #text-404 {
        @apply leading-none text-[6em] sm:text-[10em] !important;
      }
    </style>
  </main>
</GenericPage>
