---
import GenericPage from "../layouts/GenericPage.astro";
import ModCard from "../components/ModCard.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image, Picture } from "astro:assets";

import pfp from "../images/pfp-s.png";

import buwos from "../images/buwos_mt.webp";

const badgeFiles = import.meta.glob<{ default: ImageMetadata }>(
  "../images/badges/*"
);

const modFiles = import.meta.glob<{ default: ImageMetadata }>(
  "../images/mod_projects/*"
);
---

<GenericPage title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="header">
    <div class="pfp-gradient">
      <div class="py-3">
        <Picture
          src={pfp}
          alt=""
          formats={[`avif`, `webp`]}
          fallbackFormat="png"
          width="360"
          height="360"
          class="rounded-full mx-auto my-2 bg-base w-36 h-36"
        />
        <div style="">
          <h1 class="my-0 inline-block">🌞 Hi, I'm melontini!</h1>
        </div>
      </div>
    </div>
  </div>

  <main>
    <div class="grid gap-1 md:grid-cols-3">
      <div
        class="bg-elevation-1 p-2 rounded-t-xl md:col-span-3 overflow-hidden"
      >
        <h3 class="text-center"><b>ℹ️ About me</b></h3>
        <div class="w-11/12 h-11/12 m-auto text-inv-base">
          <ul>
            <li><b>Name:</b> melontini or m, all lowercase.</li>
            <li><b>Woke Pronouns:</b> Any/All, but neutral is preferred.</li>
          </ul>
          <br />

          I just do things on the internet.
        </div>
      </div>

      <a href="/projects" class="no-underline">
        <div class="hovered p-2 md:rounded-bl-xl blue-gradient cool-container">
          <h3 class="text-center"><b>🪪 Projects</b></h3>
        </div>
      </a>
      <a href="/manuscript" class="no-underline">
        <div class="hovered p-2 cranberry-gradient cool-container">
          <h3 class="text-center"><b>📜 Manuscript</b></h3>
        </div>
      </a>
      <a href="/contact" class="no-underline">
        <div
          class="hovered p-2 rounded-b-xl md:rounded-bl-none tulip-tree-gradient cool-container"
        >
          <h3 class="text-center"><b>📧 Contact</b></h3>
        </div>
      </a>
    </div>
  </main>

  <style>
    .cool-container {
      @apply h-32 flex justify-center items-center;
    }

    .blue-gradient {
      background: linear-gradient(
        to bottom,
        var(--color-elevation-1) 25%,
        #39a8e9 125%
      );
    }
    .blue-gradient:hover {
      background: linear-gradient(to bottom, var(--color-elevation-1), #39a8e9);
    }
    .cranberry-gradient {
      background: linear-gradient(
        to bottom,
        var(--color-elevation-1) 25%,
        #e05188 125%
      );
    }
    .cranberry-gradient:hover {
      background: linear-gradient(to bottom, var(--color-elevation-1), #e05188);
    }
    .tulip-tree-gradient {
      background: linear-gradient(
        to bottom,
        var(--color-elevation-1) 25%,
        #e6b03c 125%
      );
    }
    .tulip-tree-gradient:hover {
      background: linear-gradient(to bottom, var(--color-elevation-1), #e6b03c);
    }

    @keyframes hr_slide {
      from {
        background-position: 0%;
      }

      to {
        background-position: 100%;
      }
    }

    .pfp-gradient {
      background-image: linear-gradient(
        to bottom,
        #ffffff00,
        #ffffff60,
        #ffffff9a,
        #ffffff
      );
    }

    @media (prefers-color-scheme: dark) {
      .pfp-gradient {
        background-image: linear-gradient(
          to bottom,
          #00000000,
          #00000060,
          #0000009a,
          #000000
        );
      }
    }

    .header {
      text-align: center;
      background: linear-gradient(to right bottom, #39a8e9, #ed5d8a, #e6b03c);
      background-size: 200%;
      background-position: 0%;
      animation: hr_slide 10s linear infinite alternate-reverse;
    }
  </style>
</GenericPage>
