---
import NavigationBarLink from "./NavigationBarLink.astro";

const icons = import.meta.glob<{ default: string }>("../../images/icons/*", {
  query: "?raw",
  import: "default",
});
const query = "../../images/icons/";

const links = [
  {
    href: "/",
    title: "Home",
    svg: icons[query + "home.svg"](),
  },
  {
    href: "/projects",
    title: "Projects",
    svg: icons[query + "badge.svg"](),
  },
  {
    href: "/manuscript",
    title: "Manuscript",
    svg: icons[query + "book.svg"](),
  },
  {
    href: "/contact",
    title: "Contact",
    svg: icons[query + "chat.svg"](),
  },
];
---

<header class="m-0 p-2 text-xl bg-elevation-1">
  <nav class="text-inv-elevation-1 flex gap-2 w-full">
    <div id="top-navigation">
      <details class="">
        <summary title="Toggle Navigation">
          <div class="p-2 w-fit h-fit bg-elevation-2 rounded-xl hovered">
            <div class="w-6 h-6 flex items-center">
              <Fragment set:html={icons[query + "hamburger-menu.svg"]()} />
            </div>
          </div>
        </summary>

        <div
          class="absolute z-10 mt-1 w-64 bg-elevation-1 rounded-xl p-2"
          style="filter: drop-shadow(0 0 0.5rem rgba(0,0,0,0.5));"
        >
          <h3 class="text-center">Navigator 4000</h3>

          <ul class="grid gap-1">
            {
              links.map(({ href, title, svg }) => (
                <li class="link-main-container hovered min-w-0">
                  <NavigationBarLink title={title} {href} class="no-underline text-inv-base">
                    <div class="link-content-container">
                      <div>
                        <div class="w-6 h-6 flex items-center m-auto">
                          <Fragment set:html={svg} />
                        </div>
                      </div>
                      <span class="select-none">|</span>
                      <div class="m-0 text-current text-xl">{title}</div>
                    </div>
                  </NavigationBarLink>
                </li>
              ))
            }
          </ul>
        </div>
      </details>
    </div>
  </nav>
</header>

<style>
  #top-navigation > details summary::-webkit-details-marker,
  #top-navigation > details summary::marker {
    display: none;
    content: "";
  }

  .link-main-container {
    @apply w-full first:rounded-t-xl last:rounded-b-xl bg-elevation-2 mx-auto;
  }

  .link-content-container {
    @apply overflow-hidden p-3 flex space-x-2 items-center;
  }
</style>
