
<script
  src="https://giscus.app/client.js"
  data-repo="melontini/melontini"
  data-repo-id="R_kgDOMglSJA"
  data-category="Comments"
  data-category-id="DIC_kwDOMglSJM4Chdtx"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="preferred_color_scheme"
  data-lang="en"
  data-loading="lazy"
  crossorigin="anonymous"
  async />
  <noscript>
    <div class="text-inv-elevation-1 text-center">
      <h2>Oh, oh 😨</h2>
      Sorry, comments require JavaScript!
    </div>
  </noscript>
